<div class="panel panel-primary" id="signForm">
  <div class="panel-heading">
    <h1 class="panel-title">Login</h1>
  </div>
  <div class="panel-body">
    <%= form_tag '/login', class: "input_group" do %>
      <%= text_field_tag :name, nil ,class: "form-control", placeholder: "User Name" %></br>
      <%= password_field_tag :password, nil ,class: "form-control", placeholder: "Password"  %></br>
      <%= submit_tag "Submit", class: "btn btn-default center-block" %>

    <% end %>
  </div>
</div>
