// Place all the styles related to the TaskList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appName{
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1da36 0%, #fefcea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f1da36 0%,#fefcea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
  padding: 10px 0;
}

.sign {
    width: 200px;
    position: absolute;
    top:0;
    right: 0px;
    padding: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 0px 20px;
}


#addTaskDialog, #taskShowContainer{
  width: 500px;
  height: 250px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: white;
}

#add_task{
  margin: 20px auto;
}

textarea {
  width: 300px;
  min-width:300px;
  max-width:300px;

  height:80px;
  min-height:80px;
  max-height:80px;
  margin: 0px auto;
}

.closeTaskDialog, .closeTaskShow {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 10px;
}

.inputForm{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.tasksContainer {
  width: 800px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 10px 10px 40px 40px;
  padding: 0;
}

.tasksContainer .taskTable {
  margin: 0 auto;
}


.tasksContainer .taskTable .desc {
  max-width: 200px;
  word-wrap: break-word;
}

 .table tbody tr:hover td {
    background-color: #FFFFA3;
}
