// Place all the styles related to the TaskList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

#addTaskDialog{
  width: 500px;
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: white;
}

.closeTaskDialog {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 10px;
}

.inputForm{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.tasksContainer {
  width: 600px;
  margin: 0 auto;

}

.tasksContainer .taskTable {
  margin: 0 auto;
}

.tasksContainer .taskTable td {
  border-right: 1px solid black;
}

.tasksContainer .taskTable .desc {
  max-width: 200px;
  word-wrap: break-word;
}

.taskTable tr:nth-child(even) {background: #C9C9C9}
.taskTable tr:nth-child(odd) {background: #F6F6F6}

.taskTable tr:hover {background: #FFFFA3}

.taskTable tr:nth-child(1) {background: white}
